<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="dual_ur_robotiq">

  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:arg name="limited" default="true"/>

  <link name="world"/>

  <!-- Stand -->
    <link
    name="stand">
    <inertial>
      <origin
        xyz="-1.16162413021925E-09 0.00077335177474426 0.422760886105843"
        rpy="0 0 0" />
      <mass
        value="16.5920771320864" />
      <inertia
        ixx="1.32838756334005"
        ixy="1.45565226525382E-10"
        ixz="1.02837044309379E-08"
        iyy="1.32486542917323"
        iyz="6.09201131774427E-05"
        izz="0.418093274026382" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dual_arm_model/meshes/stand.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.43921568627451 0.43921568627451 0.43921568627451 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dual_arm_model/meshes/stand.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="stand"/>
  </joint>


<!-- (1) UR5 -->
  <xacro:include filename="$(find dual_arm_model)/urdf/ur.xacro" />
  <xacro:include filename="$(find dual_arm_model)/urdf/ur.ros2_control.xacro" />

  <!-- left arm -->
  <xacro:ur_robot 
                      tf_prefix="left_"
                      joint_limits_parameters_file="$(find dual_ur_inspire_bringup)/config/ur5/joint_limits.yaml"
                      kinematics_parameters_file="$(find dual_ur_inspire_bringup)/config/ur5/default_kinematics.yaml"
                      physical_parameters_file="$(find dual_ur_inspire_bringup)/config/ur5/physical_parameters.yaml"
                      visual_parameters_file="$(find dual_ur_inspire_bringup)/config/ur5/visual_parameters.yaml"
                      safety_limits="false"
                      safety_pos_margin="0.15"
                      safety_k_position="20"
                      />
  <xacro:ur_arm_ros2_control
                      prefix="left_"
                      robot_ip="192.168.1.40"
                      use_fake_hardware="false"
                      fake_sensor_commands="false"
                      script_filename="$(find ur_client_library)/resources/external_control.urscript"
                      output_recipe_filename="$(find dual_ur_inspire_bringup)/resources/rtde_output_recipe.txt"
                      input_recipe_filename="$(find dual_ur_inspire_bringup)/resources/rtde_input_recipe.txt"
                      hash_kinematics="" 
                      reverse_port="50001"
                      script_sender_port="50002"
                      script_command_port="50004"
                      trajectory_port="50003"
                      />

  <!-- right arm -->
  <xacro:ur_robot 
                    tf_prefix="right_"
                    joint_limits_parameters_file="$(find dual_ur_inspire_bringup)/config/ur5/joint_limits.yaml"
                    kinematics_parameters_file="$(find dual_ur_inspire_bringup)/config/ur5/default_kinematics.yaml"
                    physical_parameters_file="$(find dual_ur_inspire_bringup)/config/ur5/physical_parameters.yaml"
                    visual_parameters_file="$(find dual_ur_inspire_bringup)/config/ur5/visual_parameters.yaml"
                    safety_limits="false"
                    safety_pos_margin="0.15"
                    safety_k_position="20"
                    />
  <xacro:ur_arm_ros2_control
                      prefix="right_"
                      robot_ip="192.168.1.41"
                      use_fake_hardware="false"
                      fake_sensor_commands="false"
                      script_filename="$(find ur_client_library)/resources/external_control.urscript"
                      output_recipe_filename="$(find dual_ur_inspire_bringup)/resources/rtde_output_recipe.txt"
                      input_recipe_filename="$(find dual_ur_inspire_bringup)/resources/rtde_input_recipe.txt"
                      hash_kinematics="" 
                      reverse_port="50011"
                      script_sender_port="50012"
                      script_command_port="50014"
                      trajectory_port="50013"
                      />

  <joint name="left_arm_joint" type="fixed">
    <origin xyz="0 0.25 1.05" rpy="${-PI/2} 0 0" />
    <parent
      link="stand" />
    <child
      link="left_base_link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <joint name="right_arm_joint" type="fixed">
    <origin xyz="0 -0.25 1.05" rpy="${PI/2} ${PI} 0" />
    <parent
      link="stand" />
    <child
      link="right_base_link" />
    <axis
      xyz="0 0 0" />
  </joint>

    <joint name="left_ee_fixed_joint" type="fixed">
    <parent link="left_wrist_3_link" />
    <child link = "left_ee_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 ${-pi/2.0} ${pi/2.0}" />
  </joint>

  <link name="left_ee_link">
    <collision>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <origin rpy="0 0 0" xyz="-0.01 0 0"/>
    </collision>
  </link>

  <joint name="right_ee_fixed_joint" type="fixed">
    <parent link="right_wrist_3_link" />
    <child link = "right_ee_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 ${-pi/2.0} ${pi/2.0}" />
  </joint>

  <link name="right_ee_link">
    <collision>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <origin rpy="0 0 0" xyz="-0.01 0 0"/>
    </collision>
  </link>

</robot>